# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# Logs
*.log

# Model files
*.pkl
*.joblib

# Kaggle cache
.kaggle/